{% extends "app/layout.html" %}

{% block content %}
<h2>{{blogpost.title}}</h2>
<footer class="blockquote-footer">
                {% if blogpost.author %}
              Written by {{blogpost.author}} 
                {% endif %}
                <cite title="Source Title">Published on {{blogpost.pub_date}}</cite>
            </footer>
<br />
<div>
    {{blogpost.content}}
</div>
<p>
{% if blogpost.tag %}
<span class="badge badge-pill badge-primary">{{blogpost.tag}}</span>
{% endif %}
 </p>

 <div class="row mt-3">
        <div class="col-md-12">
            <h5>Comment</h5>
          
            <form action="{% url 'blog:comment_create' blogpost.id %}" method="post">
                {% csrf_token %}
                <div id="div_id_content" class="form-group">
                    <label for="id_content" class="col-form-label ">Comment:</label>
                    <textarea class="form-control" name="content" id="id_content" rows="2"></textarea>
                </div>
               
                <div class="text-right">
                    <button class="btn btn-success" type="submit">Add Comment</button>
                </div>
            </form>
        </div>
     <div class="col-md">
            {% for item in blogpost.comment_set.all %}
                <blockquote class="blockquote review">
                    <small>
                     <strong class="mb-0">{{ item.content }}</strong>
                    </small>
                </blockquote>
            {% empty %}<p>Noo comments for this article yet</p>
            {% endfor %}
        </div>
       
    </div>

{% if error_message %}
<p class="text-danger">{{error_message}}</p>
{% endif %}

{% endblock %}
